### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#purchase_data.count
player_count = len(purchase_data["SN"].unique())
player_count_df = pd.DataFrame({"Number of players": [player_count]})
player_count_df

   Number of players
0                576

No Python documentation found for '{0: 0.2}'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Unique item count
Num_unique_items = len(purchase_data["Item Name"].unique())
# Mean of Price Column
average_price = purchase_data["Price"].mean()
# Length of the ID purchases, so total count
Num_Purchases = len(purchase_data["Purchase ID"])
# Sum of each purchase
total_revenue = sum(purchase_data["Price"])
# Building the data frame 
Purchasing_analysis = pd.DataFrame({"Number of Unique Items": [Num_unique_items],
                                   "Average Price": "${:,.2f}".format(average_price),
                                   "Number of Purchase": Num_Purchases,
                                   "Total Revenue": "${:,.2f}".format(total_revenue)})

Purchasing_analysis

   Number of Unique Items Average Price  Number of Purchase Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Drops the duplicates purchasers
Gender_demo = purchase_data[['SN','Gender']].drop_duplicates()

# counts how many males/females/non-disclosed genders
total_count = Gender_demo["Gender"].value_counts()

# Formating the Percentage of Players to percent
Percent_Players = (total_count / player_count).mul(100).round(2).astype(str)+ '%'

# Building the dataframe
Gender_demographics = pd.DataFrame({"Total Count": total_count,
                                  "Percentage of Players": Percent_Players})

#Printing dataframe
Gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:

grouped_gender_df = purchase_data.groupby(['Gender'])
Purchase_count = purchase_data["Gender"].value_counts()
average_purchase_price =  grouped_gender_df["Price"].mean()
Total_purchase_value = grouped_gender_df["Price"].sum()
Avg_total_per = Total_purchase_value / total_count

PurchasingAnalysis_Gender = pd.DataFrame({"Purchase Count": Purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Total Purchase Price": Total_purchase_value,
                                   "Avg Total Purchase Per Person": Avg_total_per
                                    })
PurchasingAnalysis_Gender = PurchasingAnalysis_Gender.style.format({'Average Purchase Price': '${0:,.2f}', 'Total Purchase Price': '${0:,.2f}', 'Avg Total Purchase Per Person': '${0:,.2f}'})
PurchasingAnalysis_Gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = purchase_data["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / player_count
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Minor Data Munging
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99,34.99,39.99,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Grouping by Age Ranges designed by bins
grouped_age_df = purchase_data.groupby(['Age Ranges'])
# Finding the mean price and sum price of the grouped dataframe
average_purchase_price_per_age =  grouped_age_df["Price"].mean()
Total_purchase_value_per_age = grouped_age_df["Price"].sum()
# Dropping duplicate records of users
grouped_age_df = purchase_data[['SN','Age Ranges']].drop_duplicates()
# Getting count for unique users
unique_age_demographics_totals = grouped_age_df["Age Ranges"].value_counts()
Avg_total_per_age = Total_purchase_value_per_age / unique_age_demographics_totals

# Printing data frame
PurchasingAnalysis_Age = pd.DataFrame({"Purchase Count": age_demographics_totals,
                                   "Average Purchase Price": average_purchase_price_per_age,
                                   "Total Purchase Price": Total_purchase_value_per_age,
                                   "Avg Total Purchase Per Person": Avg_total_per_age
                                    })
PurchasingAnalysis_Age = PurchasingAnalysis_Age.style.format({'Average Purchase Price': '${0:,.2f}', 'Total Purchase Price': '${0:,.2f}', 'Avg Total Purchase Per Person': '${0:,.2f}'})



# Display Age Demographics Table
PurchasingAnalysis_Age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
# user total, user count, user average
user_total = purchase_data.groupby(["SN"]).sum()["Price"]
user_average = purchase_data.groupby(["SN"]).mean()["Price"]
user_count = purchase_data.groupby(["SN"]).count()["Price"]

# Constructing the dataframe
top_spender = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})
top_spender_sorted = top_spender.sort_values("Total Purchase Value" , ascending=False)

# Cleaner Formatting
top_spender_sorted["Total Purchase Value"] = top_spender_sorted["Total Purchase Value"].map("${:,.2f}".format)
top_spender_sorted["Average Purchase Price"] = top_spender_sorted["Average Purchase Price"].map("${:,.2f}".format)

top_spender_sorted = top_spender_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_spender_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [65]:
# Retrieving the three columbs
most_pop = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# group by item id and item name to find the count,mean, and sum of price
pop_purchase_count = most_pop.groupby(["Item ID", "Item Name"]).count()["Price"]
pop_average_price = most_pop.groupby(["Item ID", "Item Name"]).mean()["Price"]
pop_total_value = most_pop.groupby(["Item ID", "Item Name"]).sum()["Price"]

# creating the dataframe
most_pop_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                           "Average Item Price" : pop_average_price,
                           "Total Purchase Value": pop_total_value})
# sorting it by descending purchase count
most_pop_dfsorted = most_pop_df.sort_values("Purchase Count", ascending=False)


# Cleaner Formatting
most_pop_dfsorted["Average Item Price"] = most_pop_dfsorted["Average Item Price"].map("${:,.2f}".format)
most_pop_dfsorted["Total Purchase Value"] = most_pop_dfsorted["Total Purchase Value"].map("${:,.2f}".format)
most_pop_dfsorted.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [67]:
# sorting it by descending total purchase value
most_pop_dfsorted = most_pop_df.sort_values("Total Purchase Value", ascending=False)
most_pop_dfsorted["Average Item Price"] = most_pop_dfsorted["Average Item Price"].map("${:,.2f}".format)
most_pop_dfsorted["Total Purchase Value"] = most_pop_dfsorted["Total Purchase Value"].map("${:,.2f}".format)
most_pop_dfsorted.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80